#root {
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    #root {
        text-align: center;
        width: 100%;
        height: auto;
        margin: 0 10px;
        display: block;
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        margin-bottom: 50px;
    }
    .leetcode-viewport {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .problem-description {
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(6px);
        border-radius: 5px;
        padding: 0 2px;
        margin-top: 0px;
    }
    .game-viewport {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
}

.leetcode-viewport {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.problem-title {
    color: rgb(255,255,255, 1);
}
.problem-description {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    padding: 0 2px;
}

.game-viewport {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.app {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.scene-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin: 5% 0;
}

.scene-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: visible;
    font-size: 28px;
}

.symbol {
    width: 12.5%;
    padding-bottom: 12.5%;
    position: absolute;
    transition: 150ms;
    left: 0;
    top: 0;
    border-radius: 8px;
}

.symbol-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #444;
    transition: 0.3s;
    overflow: hidden;
    user-select: none;
}

.symbol-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.queue-container {
    border-radius: 8px;
    width: 100%;
    padding-bottom: 15%;
    border: 2px solid gray;
    margin-bottom: 16px;
}

.flex-container {
    display: flex;
    gap: 8px;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.colorful-bg {
    border: 0px;
    background-image: linear-gradient(
        to right bottom,
        rgb(255, 0, 0),
        rgb(255, 128, 0),
        rgb(255, 255, 0),
        rgb(0, 255, 0),
        rgb(0, 255, 128),
        rgb(0, 255, 255),
        rgb(0, 128, 255),
        rgb(0, 0, 255),
        rgb(128, 0, 255),
        rgb(255, 0, 255),
        rgb(255, 0, 128)
    );
    animation: hue 2s linear infinite;
}

@keyframes hue {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(
            360deg
        ); 
    }
}


.flex-between {
    justify-content: space-between;
    align-items: center;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 10%);
    top: 0;
    left: 0;
    color: #fff;
}

.bgm-button {
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 4px;
    width: 36px;
    height: 36px;
}

.bgm-gif-left {
    position: fixed;
    left: 50px;
    top: 10px;
    padding: 4px;
    width: 36px;
    height: 36px;
}

.bgm-gif-right {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 4px;
    width: 36px;
    height: 36px;
}

.bgm-gif-img {
    width: 36px;
    height: 36px;
}