.code-editor {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  max-height: 500px;
  height: 300px;
  overflow: scroll;
  border-radius: 5px;
}

.flex-left {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}